.mixin.out/
banned-ips.json
banned-players.json
eula.txt
kubejs/exported/tags/gases.txt
kubejs/exported/tags/infuse_types.txt
kubejs/exported/tags/pigments.txt
kubejs/exported/tags/slurries.txt
logs/
ops.json
usercache.json
usernamecache.json
whitelist.json
woot/
world/DIM-1/
world/DIM1/
world/advancements/
world/astralsorcery/
world/data/
world/dimensions/
world/ftbessentials/
world/level.dat
world/level.dat_old
world/minecolonies/
world/playerdata/
world/pneumaticcraft/
world/region/
world/session.lock
world/stats/
world/poi/
world/EnderStorage/
world/deaths/