.mixin.out/
banned-ips.json
banned-players.json
eula.txt
kubejs/exported/tags/gases.txt
kubejs/exported/tags/infuse_types.txt
kubejs/exported/tags/pigments.txt
kubejs/exported/tags/slurries.txt
logs/
ops.json
usercache.json
usernamecache.json
whitelist.json
woot/
world/*
!world/datapacks/
!world/serverconfig/
crash-reports/